.grid line{
    stroke: rgb(207, 206, 206);
    stroke-opacity: .3;
    shape-rendering: crispEdges 
}

.grid path{
    stroke-width: 0;
}

@media screen and (max-width: 800px) {
    .titulo{
        font-size: 17px;
    }
    
    .subtit{
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    .titulo{
        font-size: 12px;
    }
    
    .subtit{
        font-size: 8px;
    }
}


